<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Form add User History</h2>
    <form action="/histories/add" method="POST">
      User: <br />
      <input type="text" name="user" /><br />
      Win:<br />
      <input type="text" name="win" /><br />
      Lose:<br />
      <input type="text" name="lose" /><br />
      Draw:<br />
      <input type="text" name="draw" /><br />
      <br />
      <input type="submit" /><br />
    </form>
  </body>
</html>
